.comment{
    min-height: 50px;
    width: 580px;
    padding: 10px;
    background-color:white;
    box-shadow: 2px 2px 5px gray;
    border-left: 3px solid rgb(3, 3, 32);
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h3,h6{
    color: rgb(3, 3, 37);
}

h6{
    text-align: right;
}