<div class="post">
     <h3> Dummy text Dummy text Dummy text Dummy text </h3>
     <p>
        Dummy text Dummy text Dummy text Dummy text . Dummy text Dummy text Dummy text Dummy text
        Dummy text Dummy text Dummy text Dummy text. Dummy text Dummy text Dummy text Dummy text
        Dummy text Dummy text Dummy text Dummy text. Dummy text Dummy text Dummy text Dummy text
        Dummy text Dummy text Dummy text Dummy text. Dummy text Dummy text Dummy text Dummy text
        Dummy text Dummy text Dummy text Dummy text. Dummy text Dummy text Dummy text Dummy text
        Dummy text Dummy text Dummy text Dummy text. Dummy text Dummy text Dummy text Dummy text
        Dummy text Dummy text Dummy text Dummy text. Dummy text Dummy text Dummy text Dummy text
        Dummy text Dummy text Dummy text Dummy text. Dummy text Dummy text Dummy text Dummy text
        Dummy text Dummy text Dummy text Dummy text. Dummy text Dummy text Dummy text Dummy text
        Dummy text Dummy text Dummy text Dummy text. Dummy text Dummy text Dummy text Dummy text
        Dummy text Dummy text Dummy text Dummy text. Dummy text Dummy text Dummy text Dummy text
        Dummy text Dummy text Dummy text Dummy text. Dummy text Dummy text Dummy text Dummy text 
     </p>
     <app-commentbox></app-commentbox>
</div>
